* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  margin: 0 auto;
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.outer-container {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 50px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.btn-group button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
